/* Global */
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(0,21,50);
}


h1 {
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-spacing: 0.08em;
    line-height: 1.2;
}

h2 {
    font-weight: 200;
    font-size: 18px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    word-spacing: 0.08em;
}

h3 {
    font-size: 22px;
    font-weight: 200;
    color: white;
    
}

h4 {
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #0099FF;
}

a {
    color: white;
}

a:hover {
    color: white;
}

p {
    font-weight: 300;
    color: white;
}

@media (min-width:360px) and (max-width:767px) {
    h2 {
        font-size: 18px;
    }
}

@media (max-width:359px) {
    h2 {
        font-size: 14px;
    }
}

@media (min-width:360px) and (max-width:767px) {
    h1 {
        font-size: 28px;
    }
}

@media (max-width:359px) {
    h1 {
        font-size: 24px;
    }
}


.alert.alert-dismissible.alert-info {
    background-color: rgb(0,21,50, 0.5);
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    letter-spacing:0.03em;
    font-weight: 200;
    margin-bottom: 0;
    border-radius: 0;
}

.close {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    font-size: 18px;
    text-shadow: none;
}

.close:hover,
.close:active,
.close:focus {
    color: #0099FF;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Hero */
.absolute {
    position: absolute;
    top:600px;
    width: 100%;
    height: auto;
    -webkit-transform: skewY(13deg);
        -ms-transform: skewY(13deg);
            transform: skewY(13deg);
}
.hero {
    min-height: 800px;
    overflow-x: hidden;
}

.hero-bg {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 1300px;
    top:-600px;
    -webkit-transform: skewY(-13deg);
        -ms-transform: skewY(-13deg);
            transform: skewY(-13deg);
    background-image: -webkit-linear-gradient(20deg,rgb(0,21,50),#3e7fa5);
    background-image: -o-linear-gradient(20deg,rgb(0,21,50),#3e7fa5);
    background-image: linear-gradient(70deg,rgb(0,21,50),#3e7fa5);
    z-index: -1;
}
.bg-color {
    background-image: -webkit-linear-gradient(20deg,rgb(0,21,50),#3e7fa5);
    background-image: -o-linear-gradient(20deg,rgb(0,21,50),#3e7fa5);
    background-image: linear-gradient(70deg,rgb(0,21,50),#3e7fa5);
}
.line-color {
    border-top-color: rgb(0, 66, 121);
    border-top-width: 4px;
}

.balloon-align {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    opacity: 0.04;
    -webkit-animation: fade-in .8s;
    animation: fade-in .8s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

.banner {
    color: white;
    margin-top: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner {
        margin-top: 100px;
    }
}
@media (max-width: 991px) {
    .banner {
        margin-top: 40px;
    }
}


video, img.demo-gif {
    width: 650px;
    z-index: 6;
    margin-left: 71px;
    margin-top: 100px;
    position: absolute;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.demo-image {
    z-index: 5;
    width: 1000px;
    margin-left: -100px;
}

.video-gradient {
    background-image: -webkit-linear-gradient(280deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(280deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    background-image: linear-gradient(170deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    position: absolute;
    margin-left: 48px;
    margin-top: 38px;
    border-radius: 23px 23px 0px 0px;
    width: 696px;
    height: 457px;
    z-index: 999;
}

.mobile-filler {
    display: block;
}

@media (min-width: 768px) and (max-width:991px) {
    video, img.demo-gif {
        margin-left: 10px;
    }
    .demo-image {
        margin-left: -161px;
    }
    .video-gradient {
        margin-left: -13px;
    }
}
@media (max-width: 767px) {
    video, img.demo-gif {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    video, img.demo-gif {
        width: 285px;
        height: auto;
        margin-left: 95px;
        margin-top: 60px;
        border-radius: 5px 5px 30px 30px;
    }
    .demo-image {
        width: 100%;
        margin-left: 0px;
    }
}

@media (min-width:360px) and (max-width:575px) {
    video, img.demo-gif {
        width: 238px;
        margin-top: 50px;
        border-radius: 5px 5px 25px 25px;
        left: 50%;
        margin-left: -119px;
    }
    .demo-image {
        width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -198px;
    }
    .mobile-filler {
        height: 600px;
    }
}

@media (max-width:359px) {
    video, img.demo-gif {
        display: none;
    }
    .demo-image {
        display: none;
    }
    .mobile-filler {
        display: none;
    }
    .hero-bg {
        height: 1200px;
        top:-800px;
    }
    .hero {
        min-height: 500px;
    }
    .absolute {
        top: 400px
    }
}


.animate-slide-right {
    -webkit-animation: slide-right .8s;
    animation: slide-right .8s
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.animate-slide-down {
    -webkit-animation: slide-down .8s;
    animation: slide-down .8s
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.animate-slide-left {
    -webkit-animation: slide-left .8s;
    animation: slide-left .8s
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/* Content */

.modal-body a .btn-icon{
    position: relative;
    width:60px;
    height: 20px;
    padding: 1px 10px 1px 7px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
}
.modal-body a .btn-icon:hover{
    background-color:#0c7abf;
}
.btn-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}
.modal-body a{
    position: relative;
    height: 20px;
    padding: 5px 14px 5px 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.modal-body a:hover{
    background-color:#0c7abf;
}

.modal-success p {
    color: black;
}

.modal-success h6 {
    color: rgb(0,21,50);
    font-weight: 700;
    text-transform: uppercase;
}


.btn-primary {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-primary2 {
    border-radius: 0px;
    border-width: 2px;
    border-color: rgb(0,21,50);
    background-color: rgb(0,21,50) !important;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: 300px;
}

.btn-secondary {
    border-style: none;
    color: rgb(230, 230, 230);
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.btn-account {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    border-style: none;
    color: white;
    background-color: transparent;
    width: 100px;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-mobile {
    color: white;
    font-size: 24px;
}

.btn-mobile:active,
.btn-mobile:focus,
.btn-mobile:hover {
    color: rgb(0,21,50);
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #0099FF;
    background-color: transparent;
}

.btn-account:hover,
.btn-account:active,
.btn-account:not([disabled]):not(.disabled).active,
.btn-account:not([disabled]):not(.disabled):active,
.show>.btn-account.dropdown-toggle {
    border-color: rgb(0,21,50);
    background-color: transparent;
    color: rgb(0,21,50);
}

.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2:not([disabled]):not(.disabled).active,
.btn-primary2:not([disabled]):not(.disabled):active,
.show>.btn-primary2.dropdown-toggle {
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-secondary:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    color: #0099FF;
}
.btn-primary:focus,
.btn-account:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: #0099FF;
}

.btn-primary2:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-enter {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 18px;
    color: white;
    z-index: 100;
}

.btn-enter:focus,
.btn-enter:active,
.btn-enter:hover {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    color: #0099FF;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}

@media (max-width: 991px) {
    .center-mobile {
        text-align: center;
    }
}

.waitlist-form {
    display:inline-block;
}

.dash {
    width: 40px;
    height: 2px;
    background-image: -webkit-linear-gradient(20deg,rgb(28, 60, 87),#3e7fa5);
    background-image: -o-linear-gradient(20deg,rgb(28, 60, 87),#3e7fa5);
    background-image: linear-gradient(70deg,rgb(28, 60, 87),#3e7fa5);
    border-radius: 1px;
}

.content-dash {
    width: 100%;
    height: 4px;
    background-image: -webkit-linear-gradient(20deg,rgb(28, 60, 87),#3e7fa5);
    background-image: -o-linear-gradient(20deg,rgb(28, 60, 87),#3e7fa5);
    background-image: linear-gradient(70deg,rgb(28, 60, 87),#3e7fa5);
    border-radius: 2px;
}

p.demo-link, a.demo-link {
    font-size: 14px;
    color: rgb(230,230,230);
    font-weight: 300;
}

a.demo-link {
    text-decoration: underline;
}

a.demo-link:hover,
a.demo-link:active,
a.demo-link:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #0099FF;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
}

.content-text {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.content-image {
    
}

.content-description p {
    font-size: 16px;
}

@media (max-width:359px) {
    .content-description p {
        font-size: 14px;
    }
}

.waitlist-entry {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white !important;
    background-color: transparent !important;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    line-height: 1.5 !important;
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.form-control:focus {
    border-color: #0099FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.waitlist-entry:focus {
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.tick {
    color: #0099FF;
}

/* Footer */
.footer {
    background-color: rgb(0,21,50);
    width: 100vw;
}

p.footer1 {
    font-size: 12pt;
    color: rgb(223, 223, 223);
}

.footer1 a {
    font-size: 12pt;
    color: rgb(223, 223, 223);
}

/* Modal */
.modal-dialog {
    border-style: none;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
        -ms-transform: translateX(-50%) translateY(-50%) !important;
            transform: translateX(-50%) translateY(-50%) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 600px;

}

@media (max-width: 359px) {
    .modal-dialog {
        -webkit-transform: translateX(-50%) !important;
            -ms-transform: translateX(-50%) !important;
                transform: translateX(-50%) !important;
        width: 280px;
        top: 100px;
    }
}

@media (min-width: 360px) and (max-width:767px) {
    .modal-dialog {
        -webkit-transform: translateX(-50%) !important;
            -ms-transform: translateX(-50%) !important;
                transform: translateX(-50%) !important;
        width: 312px;
        top: 150px;
    }
}

.modal-form-input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.modal-form-input:active {
    border-color: #0099FF;
}
.form-group {
    margin-bottom: 2rem;
}
.modal-content {
    border: none;
    border-radius: 0px;
}

body.modal-open {
    overflow: hidden;
}

.iti__flag {background-image: url("../images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/flags@2x.png");}
}

.iti {
    width: 100%;
}

.iti__selected-flag:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.05)
}

/* partner section */ 

img.partner-logo {
    width: 100%;
    max-width: 300px; 
    display: block;
    margin: 0 auto;
}

/* moved over */


