/* Global */
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(0,21,50);
}


h1 {
    font-weight: 200;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-spacing: 0.08em;
    line-height: 1.0;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    word-spacing: 0.08em;
}

h3 {
    font-weight: 400;
    color: white;
    font-size: 23px;
}

h4 {
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #0099FF;
}

a {
    color: white;
}

a:hover {
    color: white;
}

p1 {
    font-size: 18px;
    font-weight: 300;
  }

p {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

@media (min-width:360px) and (max-width:767px) {
    h2 {
        font-size: 18px;
    }
}

@media (max-width:359px) {
    h2 {
        font-size: 14px;
    }
}

@media (min-width:360px) and (max-width:767px) {
    h1 {
        font-size: 28px;
    }
}

@media (max-width:359px) {
    h1 {
        font-size: 24px;
    }
}


.alert.alert-dismissible.alert-info {
    background-color: rgb(0,21,50, 0.5);
    color: white;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    border-radius: 0;
}

.close {
    box-shadow: none !important;
    outline: none !important;
    font-size: 18px;
    text-shadow: none;
}

.close:hover,
.close:active,
.close:focus {
    color: #0099FF;
    text-shadow: none;
    box-shadow: none;
}

/* Hero */
.absolute {
    position: absolute;
    top:600px;
    width: 100%;
    height: auto;
    transform: skewY(13deg);
}
.hero {
    min-height: 800px;
    overflow-x: hidden;
}

.hero-bg {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 1300px;
    top:-600px;
    transform: skewY(-13deg);
    background-image: linear-gradient(70deg,rgb(0,21,50),#56b1e6);
    z-index: -1;
}
.bg-color {
    background-color: black;
}
.line-color {
    border-top-color: #4568DC;
}

.balloon-align {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    opacity: 0.04;
    -webkit-animation: fade-in .8s;
    animation: fade-in .8s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

.banner {
    color: white;
    margin-top: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner {
        margin-top: 100px;
    }
}
@media (max-width: 991px) {
    .banner {
        margin-top: 40px;
    }
}


video {
    width: 650px;
    z-index: 6;
    margin-left: 71px;
    margin-top: 100px;
    position: absolute;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.demo-image {
    z-index: 5;
    width: 1000px;
    margin-left: -100px;
}

.video-gradient {
    background-image: linear-gradient(170deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    position: absolute;
    margin-left: 48px;
    margin-top: 38px;
    border-radius: 23px 23px 0px 0px;
    width: 696px;
    height: 457px;
    z-index: 999;
}

.mobile-filler {
    display: block;
}

@media (min-width: 768px) and (max-width:991px) {
    video {
        margin-left: 31px;
    }
    .demo-image {
        margin-left: -140px;
    }
    .video-gradient {
        margin-left: 8px;
    }
}
@media (max-width: 767px) {
    video {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    video {
        width: 307px;
        height: auto;
        margin-left: 102px;
        margin-top: 63px;
        border-radius: 5px 5px 30px 30px;
    }
    .demo-image {
        width: 100%;
        margin-left: 0px;
    }
}

@media (min-width:360px) and (max-width:575px) {
    video {
        width: 238px;
        margin-top: 50px;
        border-radius: 5px 5px 25px 25px;
        left: 50%;
        margin-left: -119px;
    }
    .demo-image {
        width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -198px;
    }
    .mobile-filler {
        height: 600px;
    }
}

@media (max-width:359px) {
    video {
        display: none;
    }
    .demo-image {
        display: none;
    }
    .mobile-filler {
        display: none;
    }
    .hero-bg {
        height: 1200px;
        top:-800px;
    }
    .hero {
        min-height: 500px;
    }
    .absolute {
        top: 400px
    }
}


.animate-slide-right {
    -webkit-animation: slide-right .8s;
    animation: slide-right .8s
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.animate-slide-down {
    -webkit-animation: slide-down .8s;
    animation: slide-down .8s
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.animate-slide-left {
    -webkit-animation: slide-left .8s;
    animation: slide-left .8s
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/* Content */

.modal-body a .btn-icon{
    position: relative;
    width:60px;
    height: 20px;
    padding: 1px 10px 1px 7px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
    background-image:url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
}
.modal-body a .btn-icon:hover{
    background-color:#0c7abf;
}
.btn-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}
.modal-body a{
    position: relative;
    height: 20px;
    padding: 5px 14px 5px 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background-color: #1b95e0;
    border-radius: 3px;
    box-sizing: border-box;
}
.modal-body a:hover{
    background-color:#0c7abf;
}

.modal-success p {
    color: black;
}

.modal-success h6 {
    color: rgb(0,21,50);
    font-weight: 700;
    text-transform: uppercase;
}


.btn-primary {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-primary2 {
    border-radius: 0px;
    border-width: 2px;
    border-color: rgb(0,21,50);
    background-color: rgb(0,21,50) !important;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: 300px;
}


.btn-account {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100px;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-mobile {
    color: white;
    font-size: 24px;
}

.btn-mobile:active,
.btn-mobile:focus,
.btn-mobile:hover {
    color: rgb(0,21,50);
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn-account:hover,
.btn-account:active,
.btn-account:not([disabled]):not(.disabled).active,
.btn-account:not([disabled]):not(.disabled):active,
.show>.btn-account.dropdown-toggle {
    border-color: rgb(0,21,50);
    background-color: transparent;
    color: rgb(0,21,50);
}

.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2:not([disabled]):not(.disabled).active,
.btn-primary2:not([disabled]):not(.disabled):active,
.show>.btn-primary2.dropdown-toggle {
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-primary:focus,
.btn-account:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: #0099FF;
}

.btn-primary2:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-enter {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 18px;
    color: white;
    z-index: 100;
}

.btn-enter:focus,
.btn-enter:active,
.btn-enter:hover {
    box-shadow: none !important;
    outline: none !important;
    color: #0099FF;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (max-width: 991px) {
    .center-mobile {
        text-align: center;
    }
}

.waitlist-form {
    display:inline-block;
}


.waitlist-entry {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    line-height: 1.5 !important;
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}


.form-control:focus {
    border-color: #0099FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.waitlist-entry:focus {
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.tick {
    color: #0099FF;
}

/* Footer */
.footer {
    background-color: rgb(0,21,50);
    width: 100vw;
    color: white;
}

.footer1 {
  font-size: 12pt;
}

/* Modal */
.modal-dialog {
    border-style: none;
    transform: translateX(-50%) translateY(-50%) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 600px;

}

@media (max-width: 359px) {
    .modal-dialog {
        transform: translateX(-50%) !important;
        width: 280px;
        top: 100px;
    }
}

@media (min-width: 360px) and (max-width:767px) {
    .modal-dialog {
        transform: translateX(-50%) !important;
        width: 312px;
        top: 150px;
    }
}

.modal-form-input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.modal-form-input:active {
    border-color: #0099FF;
}
.form-group {
    margin-bottom: 2rem;
}
.modal-content {
    border: none;
    border-radius: 0px;
}

body.modal-open {
    overflow: hidden;
}

.iti__flag {background-image: url("../images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/flags@2x.png");}
}

.iti {
    width: 100%;
}

.iti__selected-flag:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.05)
}

/* partner section */ 

img.partner-logo {
    width: 100%;
    max-width: 300px; 
    display: block;
    margin: 0 auto;
}

/* moved over */



.feature__item {
    background: linear-gradient(269.28deg,#4568DC -41.58%,#3494E6 130.33%);
    position: relative;
    padding-bottom: 150px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 3px;
}

.feature__item:hover {
    background: linear-gradient(269.28deg,#4568DC -41.58%,#3494E6 130.33%)
}

.feature__item:hover a {
    background: hsla(0,0%,100%,.3)
}

.pulse-animate {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px
}

.pulse-animate div {
    height: 0;
    width: 0;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: pulse 1.7s ease-out infinite;
    animation: pulse 1.7s ease-out infinite
}

.bg-gradient {
    background: linear-gradient(90deg,#244ff1,#6f32e1) no-repeat;
    z-index: -1
}

.hover-btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
}

.btn-start {
    background: linear-gradient(90deg, white, white)
}

.text-shadow {
    text-shadow: 0 1px 2px rgba(0,0,0,.5)
}

.scroll-partner {
    box-sizing: border-box;
    overflow-x: auto
}

.btn-case:hover svg {
    box-shadow: 0 0 10px #aaa;
    border-radius: 50%
}

blockquote,h2,h3,h4,p {
    margin: 0
}

button {
    background: transparent;
    padding: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

ol,ul {
    margin: 0
}

*,:after,:before {
    border: 0 solid #ebebeb
}

[role=button],button {
    cursor: pointer
}

.container {
    width: 100%
}

@media (min-width: 576px) {
    .container {
        max-width:576px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:992px
    }
}

@media (min-width: 1110px) {
    .container {
        max-width:1110px
    }
}

.list-reset {
    list-style: none;
    padding: 0
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.bg-transparent {
    background-color: transparent
}

.bg-white-7 {
    background-color: hsla(0,0%,100%,.07)
}

.bg-white-10 {
    background-color: hsla(0,0%,100%,.1)
}

.bg-white-15 {
    background-color: hsla(0,0%,100%,.15)
}

.bg-black-70 {
    background-color: rgba(0,0,0,.7)
}

.bg-black-light {
    background-color: #21252b
}

.bg-black-lightest {
    background-color: #272d3a
}

.bg-grey-darkest {
    background-color: #292e34
}

.bg-grey-lighter {
    background-color: #eaedf0
}

.bg-grey-a {
    background-color: #1f2f40
}

.bg-grey-b {
    background-color: #122335
}

.bg-white {
    background-color: #fff
}

.bg-grey-black {
    background-color: #2a3341
}

.bg-blue-darkest {
    background: linear-gradient(269.28deg,#093a7a -41.58%,#3990ce 130.33%);
    padding-top: 63px;
    padding-bottom: 63px;
}

.bg-blue-darker {
    background-color: #132436
}

.bg-blue {
    background-color: #0d71ff
}

.bg-blue-a {
    background-color: #006cff
}

.hover\:bg-white-15:hover {
    background-color: hsla(0,0%,100%,.15)
}

.hover\:bg-white-20:hover {
    background-color: hsla(0,0%,100%,.2)
}

.hover\:bg-blue-80:hover {
    background-color: #f2f8fe
}

.hover\:bg-black-lighter:hover {
    background-color: #181b2a
}

.hover\:bg-blue-lightest:hover {
    background-color: #00a5ff
}

.hover\:bg-blue-btn:hover {
    background-color: #f2f8fe
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.bg-cover {
    background-size: cover
}

.border-white-3 {
    border-color: hsla(0,0%,100%,.03)
}

.border-white-10 {
    border-color: hsla(0,0%,100%,.1)
}

.border-white-18 {
    border-color: hsla(0,0%,100%,.18)
}

.border-grey-light {
    border-color: #ebebeb
}

.border-grey-lighter {
    border-color: #eaedf0
}

.border-grey-c {
    border-color: #566273
}

.border-white {
    border-color: #fff
}

.border-red {
    border-color: #e3342f
}

.border-blue-dark {
    border-color: #244ff1
}

.border-blue-light {
    border-color: #1783ff
}

.rounded-none {
    border-radius: 0
}

.rounded-sm {
    border-radius: 3px
}

.rounded {
    border-radius: .25rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-p19 {
    border-radius: 19px
}

.rounded-b-sm {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.border-none {
    border-style: none
}

.border {
    border-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.cursor-pointer {
    cursor: pointer
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.hidden {
    display: none
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.flex-1 {
    flex: 1 1 0%
}

.flex-grow {
    flex-grow: 1
}

.flex-no-shrink {
    flex-shrink: 0
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.font-thin {
    font-weight: 200
}

.font-light {
    font-weight: 300
}

.font-normal {
    font-weight: 400
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-4 {
    height: 16px
}

.h-px {
    height: 1px
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.h-p3 {
    height: 5px
}

.h-p4 {
    height: 4px
}

.h-p6 {
    height: 6px
}

.h-p16 {
    height: 16px
}

.h-p19 {
    height: 19px
}

.h-p20 {
    height: 20px
}

.h-p25 {
    height: 25px
}

.h-p40 {
    height: 40px
}

.h-p44 {
    height: 44px
}

.h-p48 {
    height: 48px
}

.h-p50 {
    height: 50px
}

.h-p56 {
    height: 56px
}

.h-p58 {
    height: 58px
}

.h-p100 {
    height: 100px
}

.h-p115 {
    height: 115px
}

.h-p620 {
    height: 620px
}

.leading-0 {
    line-height: 0
}

.leading-20 {
    line-height: 20px
}

.leading-24 {
    line-height: 24px
}

.leading-26 {
    line-height: 26px
}

.leading-28 {
    line-height: 28px
}

.leading-32 {
    line-height: 32px
}

.leading-38 {
    line-height: 38px
}

.leading-42 {
    line-height: 42px
}

.leading-none {
    line-height: 1
}

.leading-tight {
    line-height: 1.25
}

.leading-normal {
    line-height: 1.5
}

.m-0 {
    margin: 0
}

.my-8 {
    margin-top: 8px;
    margin-bottom: 8px
}

.mx-8 {
    margin-left: 8px;
    margin-right: 8px
}

.mx-15 {
    margin-left: 15px;
    margin-right: 15px
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px
}

.my-56 {
    margin-top: 56px;
    margin-bottom: 56px
}

.my-70 {
    margin-top: 70px;
    margin-bottom: 70px
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}


.mt-3 {
    margin-top: 3px
}

.mr-3 {
    margin-right: 3px
}

.mb-3 {
    margin-bottom: 3px
}

.mb-4 {
    margin-bottom: 4px
}

.mt-5 {
    margin-top: 5px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-7 {
    margin-bottom: 7px
}

.ml-7 {
    margin-left: 7px
}

.mt-8 {
    margin-top: 8px
}

.mb-8 {
    margin-bottom: 8px
}

.mt-10 {
    margin-top: 10px
}

.mr-10 {
    margin-right: 10px
}

.mb-10 {
    margin-bottom: 10px
}

.ml-10 {
    margin-left: 10px
}

.mt-11 {
    margin-top: 11px
}

.mb-11 {
    margin-bottom: 11px
}

.mt-12 {
    margin-top: 12px
}

.mb-12 {
    margin-bottom: 12px
}

.mb-13 {
    margin-bottom: 13px
}

.mb-14 {
    margin-bottom: 14px
}

.mt-15 {
    margin-top: 15px
}

.mb-15 {
    margin-bottom: 15px
}

.ml-15 {
    margin-left: 15px
}

.mt-16 {
    margin-top: 16px
}

.mb-16 {
    margin-bottom: 16px
}

.mt-17 {
    margin-top: 17px
}

.mb-17 {
    margin-bottom: 17px
}

.mt-18 {
    margin-top: 18px
}

.mb-18 {
    margin-bottom: 18px
}

.mt-19 {
    margin-top: 19px
}

.mb-19 {
    margin-bottom: 19px
}

.mt-20 {
    margin-top: 20px
}

.mr-20 {
    margin-right: 20px
}

.mt-22 {
    margin-top: 22px
}

.mt-23 {
    margin-top: 23px
}

.mb-23 {
    margin-bottom: 23px
}

.ml-23 {
    margin-left: 23px
}

.mt-24 {
    margin-top: 24px
}

.mb-24 {
    margin-bottom: 24px
}

.mt-27 {
    margin-top: 27px
}

.mr-27 {
    margin-right: 27px
}

.mb-27 {
    margin-bottom: 27px
}

.mt-28 {
    margin-top: 28px
}


.mt-30 {
    margin-top: 30px
}

.mt-31 {
    margin-top: 31px
}

.mt-32 {
    margin-top: 32px
}

.mb-32 {
    margin-bottom: 32px
}

.mt-33 {
    margin-top: 33px
}

.mb-33 {
    margin-bottom: 33px
}

.mt-36 {
    margin-top: 36px
}

.mb-36 {
    margin-bottom: 36px
}

.mt-37 {
    margin-top: 37px
}

.mt-38 {
    margin-top: 38px
}

.mt-42 {
    margin-top: 42px
}

.mb-42 {
    margin-bottom: 42px
}

.ml-42 {
    margin-left: 42px
}

.mb-43 {
    margin-bottom: 43px
}

.mt-46 {
    margin-top: 46px
}

.mb-46 {
    margin-bottom: 46px
}

.mt-47 {
    margin-top: 47px
}

.mb-47 {
    margin-bottom: 47px
}

.mt-49 {
    margin-top: 49px
}

.mt-53 {
    margin-top: 53px
}

.mb-53 {
    margin-bottom: 53px
}

.mt-56 {
    margin-top: 56px
}

.mb-56 {
    margin-bottom: 56px
}

.mt-58 {
    margin-top: 58px
}

.mt-70 {
    margin-top: 70px
}

.mt-71 {
    margin-top: 71px
}

.mt-73 {
    margin-top: 73px
}

.mb-73 {
    margin-bottom: 73px
}

.mt-75 {
    margin-top: 75px
}

.mb-75 {
    margin-bottom: 75px
}

.mb-77 {
    margin-bottom: 77px
}

.mt-78 {
    margin-top: 78px
}

.mb-89 {
    margin-bottom: 89px
}

.ml-auto {
    margin-left: auto
}

.ml-x2 {
    margin-left: 10px
}

.mr-x4 {
    margin-right: 20px
}

.mt-x5 {
    margin-top: 25px
}

.mr-x5 {
    margin-right: 25px
}

.mb-x5 {
    margin-bottom: 25px
}

.mt-x6 {
    margin-top: 30px
}

.mb-x6 {
    margin-bottom: 30px
}

.mt-x7 {
    margin-top: 35px
}

.mb-x7 {
    margin-bottom: 35px
}

.mt-x8 {
    margin-top: 40px
}

.mr-x8 {
    margin-right: 40px
}

.mb-x8 {
    margin-bottom: 40px
}

.ml-x8 {
    margin-left: 40px
}

.mb-x10 {
    margin-bottom: 50px
}

.mb-x11 {
    margin-bottom: 35px
}

.mt-p80 {
    margin-top: 80px
}

.mb-p80 {
    margin-bottom: 80px
}

.mt-p84 {
    margin-top: 84px
}

.mb-p85 {
    margin-bottom: 85px
}

.mt-p92 {
    margin-top: 92px
}

.mt-p96 {
    margin-top: 96px
}

.mt-p98 {
    margin-top: 98px
}

.mb-l2 {
    margin-bottom: 100px
}

.mb-p106 {
    margin-bottom: 106px
}

.mb-p112 {
    margin-bottom: 112px
}


.mb-p118 {
    margin-bottom: 118px
}

.mt-p120 {
    margin-top: 120px
}

.mb-p120 {
    margin-bottom: 120px
}

.mt-p165 {
    margin-top: 165px
}

.mt-p180 {
    margin-top: 180px
}

.mt-p300 {
    margin-top: 300px
}

.max-h-540 {
    max-height: 540px
}

.max-h-p40 {
    max-height: 40px
}

.max-h-p60 {
    max-height: 60px
}

.max-w-131 {
    max-width: 131px
}

.max-w-190 {
    max-width: 190px
}

.max-w-270 {
    max-width: 270px
}

.max-w-420 {
    max-width: 420px
}

.max-w-424 {
    max-width: 424px
}

.max-w-440 {
    max-width: 440px
}

.max-w-454 {
    max-width: 454px
}

.max-w-565 {
    max-width: 565px
}

.max-w-800 {
    max-width: 800px
}

.max-w-1000 {
    max-width: 1000px
}

.max-w-1128 {
    max-width: 1128px
}

.max-w-1160 {
    max-width: 1160px
}

.max-w-1290 {
    max-width: 1290px
}

.max-w-p300 {
    max-width: 300px
}

.min-h-160 {
    min-height: 160px
}

.-m-p9 {
    margin: -9px
}

.-mx-p8 {
    margin-left: -8px;
    margin-right: -8px
}

.-mx-p14 {
    margin-left: -14px;
    margin-right: -14px
}

.-mb-23 {
    margin-bottom: -23px
}

.-mb-p6 {
    margin-bottom: -6px
}

.-mt-p10 {
    margin-top: -10px
}

.-mt-p14 {
    margin-top: -14px
}

.-mr-p15 {
    margin-right: -15px
}

.-ml-p15 {
    margin-left: -15px
}

.-mr-p16 {
    margin-right: -16px
}

.-mt-p17 {
    margin-top: -17px
}

.-mt-p18 {
    margin-top: -18px
}

.-mt-p56 {
    margin-top: -56px
}

.-mt-15vw {
    margin-top: -15vw
}

.opacity-10 {
    opacity: .1
}

.opacity-30 {
    opacity: .3
}

.opacity-50 {
    opacity: .5
}

.opacity-70 {
    opacity: .7
}

.opacity-80 {
    opacity: .8
}

.opacity-85 {
    opacity: .85
}

.hover\:opacity-70:hover {
    opacity: .7
}

.hover\:opacity-80:hover {
    opacity: .8
}

.hover\:opacity-90:hover {
    opacity: .9
}

.hover\:opacity-100:hover {
    opacity: 1
}

.focus\:outline-none:focus {
    outline: 0
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden {
    overflow: hidden
}

.overflow-x-auto {
    overflow-x: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.p-16 {
    padding: 16px
}

.p-20 {
    padding: 20px
}

.p-24 {
    padding: 24px
}

.p-32 {
    padding: 32px
}

.p-x4 {
    padding: 20px
}

.p-x5 {
    padding: 25px
}

.p-x8 {
    padding: 40px
}

.px-2 {
    padding-left: 2px;
    padding-right: 2px
}

.py-4 {
    padding-top: 4px;
    padding-bottom: 4px
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px
}

.px-8 {
    padding-left: 8px;
    padding-right: 8px
}

.py-9 {
    padding-top: 9px;
    padding-bottom: 9px
}

.px-14 {
    padding-left: 14px;
    padding-right: 14px
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px
}

.px-56 {
    padding-left: 56px;
    padding-right: 56px
}

.py-63 {
    padding-top: 63px;
    padding-bottom: 63px
}

.py-89 {
    padding-top: 89px;
    padding-bottom: 89px
}

.px-x3 {
    padding-left: 15px;
    padding-right: 15px
}

.px-x5 {
    padding-left: 25px;
    padding-right: 25px
}

.py-x6 {
    padding-top: 30px;
    padding-bottom: 30px
}

.px-x6 {
    padding-left: 30px;
    padding-right: 30px
}

.px-x8 {
    padding-left: 40px;
    padding-right: 40px
}

.px-x9 {
    padding-left: 45px;
    padding-right: 45px
}

.py-x11 {
    padding-top: 55px;
    padding-bottom: 55px
}

.pb-0 {
    padding-bottom: 0
}

.pt-3 {
    padding-top: 3px
}

.pt-8 {
    padding-top: 8px
}

.pr-8 {
    padding-right: 8px
}

.pr-10 {
    padding-right: 10px
}

.pr-12 {
    padding-right: 12px
}

.pl-14 {
    padding-left: 14px
}

.pl-15 {
    padding-left: 15px
}

.pr-16 {
    padding-right: 16px
}

.pl-16 {
    padding-left: 16px
}

.pl-17 {
    padding-left: 17px
}

.pb-20 {
    padding-bottom: 20px
}

.pt-23 {
    padding-top: 23px
}

.pb-23 {
    padding-bottom: 23px
}

.pt-24 {
    padding-top: 24px
}

.pb-24 {
    padding-bottom: 24px
}

.pl-24 {
    padding-left: 24px
}

.pt-27 {
    padding-top: 27px
}

.pb-28 {
    padding-bottom: 28px
}

.pr-32 {
    padding-right: 32px
}

.pb-32 {
    padding-bottom: 32px
}

.pt-33 {
    padding-top: 33px
}

.pb-33 {
    padding-bottom: 33px
}

.pb-38 {
    padding-bottom: 38px
}

.pt-39 {
    padding-top: 39px
}

.pt-48 {
    padding-top: 48px
}

.pb-48 {
    padding-bottom: 48px
}

.pt-51 {
    padding-top: 51px
}

.pt-x5 {
    padding-top: 25px
}

.pl-x5 {
    padding-left: 25px
}

.pr-x6 {
    padding-right: 30px
}

.pt-x7 {
    padding-top: 35px
}

.pl-x7 {
    padding-left: 35px
}

.pt-x8 {
    padding-top: 40px
}

.pt-x9 {
    padding-top: 45px
}

.pb-x9 {
    padding-bottom: 45px
}

.pt-x10 {
    padding-top: 50px
}

.pr-x10 {
    padding-right: 50px
}

.pt-p53 {
    padding-top: 53px
}

.pt-x15 {
    padding-top: 75px
}

.pt-x16 {
    padding-top: 80px
}

.pb-x16 {
    padding-bottom: 80px
}

.pb-x20 {
    padding-bottom: 100px
}

.pt-p110 {
    padding-top: 110px
}

.pb-l3 {
    padding-bottom: 150px
}

.pb-15vw {
    padding-bottom: 15vw
}

.pointer-events-none {
    pointer-events: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.pin-t {
    top: 0
}

.resize {
    resize: both
}

.shadow-md {
    box-shadow: 0 5px 9px 0 rgba(0,0,0,.11)
}

.shadow-btn {
    box-shadow: 0 5px 9px rgba(0,0,0,.107988)
}

.shadow-job {
    box-shadow: 0 2px 50px 0 rgba(0,0,0,.08)
}

.shadow-team {
    box-shadow: 0 15px 10px 0 rgba(0,0,0,.2)
}

.hover\:shadow-btn-grey:hover {
    box-shadow: 0 0 10px #aaa
}

.focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(52,144,220,.5)
}

.fill-current {
    fill: currentColor
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-white-60 {
    color: hsla(0,0%,100%,.6)
}

.text-black-light {
    color: #21252b
}

.text-grey-darkest {
    color: #292e34
}

.text-grey-dark {
    color: #868c9b
}

.text-grey-light {
    color: #ebebeb
}

.text-grey-lightest {
    color: #465363
}

.text-white {
    color: #fff
}

.text-blue {
    color: #0d71ff
}

.text-blue-light {
    color: #1783ff
}

.text-blue-lighter {
    color: #008eff
}

.text-blue-lightest {
    color: #00a5ff
}

.text-indigo-lighter {
    color: #a9afc0
}

.text-indigo-lightest {
    color: #b6b6b6
}

.text-purple-lighter {
    color: #c952f7
}

.hover\:text-white-80:hover {
    color: hsla(0,0%,100%,.8)
}

.text-sm {
    font-size: .875rem
}

.text-base {
    font-size: 1rem
}

.text-lg {
    font-size: 1.125rem
}

.text-p10 {
    font-size: 10px
}

.text-p12 {
    font-size: 12px
}

.text-p14 {
    font-size: 14px
}

.text-p17 {
    font-size: 17px
}

.text-p18 {
    font-size: 18px
}

.text-p20 {
    font-size: 20px
}

.text-p21 {
    font-size: 21px
}

.text-p22 {
    font-size: 22px
}

.text-p24 {
    font-size: 24px
}

.text-p26 {
    font-size: 26px
}

.text-p27 {
    font-size: 27px
}

.text-p32 {
    font-size: 32px
}

.text-p44 {
    font-size: 44px
}

.text-p51 {
    font-size: 51px
}

.text-p56 {
    font-size: 56px
}

.uppercase {
    text-transform: uppercase
}

.tracking-1 {
    letter-spacing: 1px
}

.tracking-15 {
    letter-spacing: 1.5px
}

.tracking-175 {
    letter-spacing: 1.75px
}

.tracking-tight {
    letter-spacing: .45px
}

.tracking-wide {
    letter-spacing: .125em
}

.tracking-sm {
    letter-spacing: .3px
}

.tracking-negative1 {
    letter-spacing: -.1px
}

.tracking-negative5 {
    letter-spacing: -.5px
}

.align-top {
    vertical-align: top
}

.visible {
    visibility: visible
}

.w-4 {
    width: 1rem
}

.w-80 {
    width: 80vw
}

.w-1\/3 {
    width: 33.33333%
}

.w-full {
    width: 100%
}

.w-screen {
    width: 100vw
}

.w-p14 {
    width: 14px
}

.w-p16 {
    width: 16px
}

.w-p17 {
    width: 17px
}

.w-p20 {
    width: 20px
}

.w-p32 {
    width: 32px
}

.w-p44 {
    width: 44px
}

.w-p49 {
    width: 49px
}

.w-p70 {
    width: 70px
}

.w-p90 {
    width: 90px
}

.w-p104 {
    width: 104px
}

.w-p115 {
    width: 115px
}

.w-p135 {
    width: 135px
}

.w-p149 {
    width: 149px
}

.w-p155 {
    width: 155px
}

.w-p160 {
    width: 160px
}

.w-p172 {
    width: 172px
}

.w-p180 {
    width: 180px
}

.w-p192 {
    width: 192px
}

.w-p196 {
    width: 196px
}

.w-p200 {
    width: 200px
}

.w-p212 {
    width: 212px
}

.w-p240 {
    width: 240px
}

.w-p250 {
    width: 250px
}

.w-p258 {
    width: 258px
}

.w-p300 {
    width: 300px
}

.z-0 {
    z-index: 0
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-40 {
    z-index: 40
}

.z-50 {
    z-index: 50
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,.slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

@media (min-width: 576px) {
    .sm\:max-w-565 {
        max-width:565px
    }

    .sm\:text-p24 {
        font-size: 24px
    }

    .sm\:w-1\/2 {
        width: 50%
    }

    .sm\:w-p272 {
        width: 272px
    }
}

@media (min-width: 768px) {
    .md\:block {
        display:block
    }

    .md\:flex {
        display: flex
    }

    .md\:flex-wrap {
        flex-wrap: wrap
    }

    .md\:flex-1 {
        flex: 1 1 0%
    }

    .md\:mx-x6 {
        margin-left: 30px;
        margin-right: 30px
    }

    .md\:mb-0 {
        margin-bottom: 0
    }

    .md\:mb-24 {
        margin-bottom: 24px
    }

    .md\:mt-31 {
        margin-top: 31px
    }

    .md\:mt-42 {
        margin-top: 42px
    }

    .md\:mr-x6 {
        margin-right: 30px
    }

    .md\:mr-x8 {
        margin-right: 40px
    }

    .md\:mb-x11 {
        margin-bottom: 55px
    }

    .md\:p-x8 {
        padding: 40px
    }

    .md\:py-x16 {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .md\:pb-48 {
        padding-bottom: 48px
    }

    .md\:pb-x8 {
        padding-bottom: 40px
    }

    .md\:pb-p110 {
        padding-bottom: 110px
    }

    .md\:text-base {
        font-size: 1rem
    }

    .md\:text-p24 {
        font-size: 24px
    }

    .md\:text-p32 {
        font-size: 32px
    }

    .md\:w-1\/3 {
        width: 33.33333%
    }

    .md\:w-p96 {
        width: 96px
    }

    .md\:w-p272 {
        width: 272px
    }
}

@media (min-width: 992px) {
    .lg\:flex-row {
        flex-direction:row
    }

    .lg\:mb-0 {
        margin-bottom: 0
    }

    .lg\:mt-p120 {
        margin-top: 80px
    }

    .lg\:w-1\/3 {
        width: 33.33333%
    }
}

@media (min-width: 1110px) {
    .xl\:rounded-p20 {
        border-radius:20px
    }

    .xl\:border-b-0 {
        border-bottom-width: 0
    }

    .xl\:border-r {
        border-right-width: 1px
    }

    .xl\:border-b {
        border-bottom-width: 1px
    }

    .xl\:block {
        display: block
    }

    .xl\:hidden {
        display: none
    }

    .xl\:flex {
        display: flex
    }

    .xl\:inline-flex {
        display: inline-flex
    }

    .xl\:flex-row {
        flex-direction: row
    }

    .xl\:flex-no-wrap {
        flex-wrap: nowrap
    }

    .xl\:items-start {
        align-items: flex-start
    }

    .xl\:items-stretch {
        align-items: stretch
    }

    .xl\:justify-start {
        justify-content: flex-start
    }

    .xl\:justify-between {
        justify-content: space-between
    }

    .xl\:float-left {
        float: left
    }

    .xl\:font-light {
        font-weight: 300
    }

    .xl\:font-normal {
        font-weight: 400
    }

    .xl\:h-p142 {
        height: 142px
    }

    .xl\:h-p320 {
        height: 320px
    }

    .xl\:h-p500 {
        height: 500px
    }

    .xl\:h-p548 {
        height: 548px
    }

    .xl\:h-p640 {
        height: 640px
    }

    .xl\:h-p802 {
        height: 802px
    }

    .xl\:leading-24 {
        line-height: 24px
    }

    .xl\:leading-28 {
        line-height: 28px
    }

    .xl\:leading-31 {
        line-height: 31px
    }

    .xl\:leading-32 {
        line-height: 32px
    }

    .xl\:leading-38 {
        line-height: 38px
    }

    .xl\:leading-40 {
        line-height: 40px
    }

    .xl\:leading-42 {
        line-height: 42px
    }

    .xl\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .xl\:mx-auto {
        margin-left: auto;
        margin-right: auto
    }

    .xl\:my-l5 {
        margin-top: 200px;
        margin-bottom: 200px
    }

    .xl\:my-p220 {
        margin-top: 220px;
        margin-bottom: 220px
    }

    .xl\:mt-0 {
        margin-top: 0
    }

    .xl\:mr-0 {
        margin-right: 0
    }

    .xl\:mb-0 {
        margin-bottom: 0
    }

    .xl\:ml-0 {
        margin-left: 0
    }

    .xl\:mt-8 {
        margin-top: 8px
    }

    .xl\:mb-10 {
        margin-bottom: 10px
    }

    .xl\:mb-14 {
        margin-bottom: 14px
    }

    .xl\:mb-15 {
        margin-bottom: 15px
    }

    .xl\:mt-16 {
        margin-top: 16px
    }

    .xl\:mb-20 {
        margin-bottom: 20px
    }

    .xl\:mb-22 {
        margin-bottom: 22px
    }

    .xl\:mt-24 {
        margin-top: 24px
    }

    .xl\:mt-30 {
        margin-top: 30px
    }

    .xl\:mt-31 {
        margin-top: 31px
    }

    .xl\:mt-47 {
        margin-top: 47px
    }

    .xl\:mt-49 {
        margin-top: 49px
    }

    .xl\:mt-64 {
        margin-top: 64px
    }

    .xl\:mb-66 {
        margin-bottom: 66px
    }

    .xl\:mt-70 {
        margin-top: 70px
    }

    .xl\:mr-70 {
        margin-right: 70px
    }

    .xl\:mb-73 {
        margin-bottom: 73px
    }

    .xl\:mt-76 {
        margin-top: 76px
    }

    .xl\:mt-77 {
        margin-top: 77px
    }

    .xl\:mb-x6 {
        margin-bottom: 30px
    }

    .xl\:mt-x8 {
        margin-top: 40px
    }

    .xl\:mr-x8 {
        margin-right: 40px
    }

    .xl\:mb-x8 {
        margin-bottom: 40px
    }

    .xl\:mb-x10 {
        margin-bottom: 50px
    }

    .xl\:mt-p80 {
        margin-top: 80px
    }

    .xl\:mb-p80 {
        margin-bottom: 80px
    }

    .xl\:ml-p80 {
        margin-left: 80px
    }

    .xl\:mt-p85 {
        margin-top: 85px
    }

    .xl\:mt-p106 {
        margin-top: 106px
    }

    .xl\:mb-p112 {
        margin-bottom: 112px
    }

    .xl\:mt-p120 {
        margin-top: 120px
    }

    .xl\:mb-p120 {
        margin-bottom: 120px
    }

    .xl\:mt-p139 {
        margin-top: 139px
    }

    .xl\:mr-p160 {
        margin-right: 160px
    }

    .xl\:mb-p160 {
        margin-bottom: 160px
    }

    .xl\:mt-p165 {
        margin-top: 165px
    }

    .xl\:mb-p196 {
        margin-bottom: 196px
    }

    .xl\:mt-p215 {
        margin-top: 120px
    }

    .xl\:mt-p260 {
        margin-top: 260px
    }

    .xl\:max-w-1184 {
        max-width: 1184px
    }

    .xl\:max-w-full {
        max-width: 100%
    }

    .xl\:max-w-1\/2 {
        max-width: 50%
    }

    .xl\:min-w-1000 {
        min-width: 1000px
    }

    .xl\:-m-0 {
        margin: 0
    }

    .xl\:-my-p88 {
        margin-top: -88px;
        margin-bottom: -88px
    }

    .xl\:-mt-0 {
        margin-top: 0
    }

    .xl\:-mt-p14 {
        margin-top: -14px
    }

    .xl\:p-0 {
        padding: 0
    }

    .xl\:p-x8 {
        padding: 40px
    }

    .xl\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .xl\:py-24 {
        padding-top: 24px;
        padding-bottom: 24px
    }

    .xl\:px-44 {
        padding-left: 44px;
        padding-right: 44px
    }

    .xl\:px-48 {
        padding-left: 48px;
        padding-right: 48px
    }

    .xl\:px-63 {
        padding-left: 63px;
        padding-right: 63px
    }

    .xl\:px-89 {
        padding-left: 89px;
        padding-right: 89px
    }

    .xl\:px-x2 {
        padding-left: 10px;
        padding-right: 10px
    }

    .xl\:px-x13 {
        padding-left: 65px;
        padding-right: 65px
    }

    .xl\:py-x20 {
        padding-top: 100px;
        padding-bottom: 100px
    }

    .xl\:pt-0 {
        padding-top: 0
    }

    .xl\:pr-0 {
        padding-right: 0
    }

    .xl\:pb-0 {
        padding-bottom: 0
    }

    .xl\:pr-6 {
        padding-right: 6px
    }

    .xl\:pr-8 {
        padding-right: 8px
    }

    .xl\:pt-12 {
        padding-top: 12px
    }

    .xl\:pr-12 {
        padding-right: 12px
    }

    .xl\:pl-12 {
        padding-left: 12px
    }

    .xl\:pl-17 {
        padding-left: 17px
    }

    .xl\:pl-21 {
        padding-left: 21px
    }

    .xl\:pb-24 {
        padding-bottom: 24px
    }

    .xl\:pt-32 {
        padding-top: 32px
    }

    .xl\:pr-32 {
        padding-right: 32px
    }

    .xl\:pb-33 {
        padding-bottom: 33px
    }

    .xl\:pt-39 {
        padding-top: 39px
    }

    .xl\:pr-48 {
        padding-right: 48px
    }

    .xl\:pb-56 {
        padding-bottom: 56px
    }

    .xl\:pt-57 {
        padding-top: 57px
    }

    .xl\:pb-57 {
        padding-bottom: 57px
    }

    .xl\:pl-58 {
        padding-left: 58px
    }

    .xl\:pt-63 {
        padding-top: 63px
    }

    .xl\:pb-63 {
        padding-bottom: 63px
    }

    .xl\:pt-77 {
        padding-top: 77px
    }

    .xl\:pt-x6 {
        padding-top: 30px
    }

    .xl\:pr-x6 {
        padding-right: 30px
    }

    .xl\:pl-x6 {
        padding-left: 30px
    }

    .xl\:pr-x10 {
        padding-right: 50px
    }

    .xl\:pr-x11 {
        padding-right: 55px
    }

    .xl\:pr-x15 {
        padding-right: 75px
    }

    .xl\:pl-x15 {
        padding-left: 75px
    }

    .xl\:pb-x16 {
        padding-bottom: 80px
    }

    .xl\:pt-p144 {
        padding-top: 144px
    }

    .xl\:pt-l3 {
        padding-top: 150px
    }

    .xl\:pb-p160 {
        padding-bottom: 160px
    }

    .xl\:pl-p160 {
        padding-left: 160px
    }

    .xl\:absolute {
        position: absolute
    }

    .xl\:text-left {
        text-align: left
    }

    .xl\:text-base {
        font-size: 1rem
    }

    .xl\:text-p12 {
        font-size: 12px
    }

    .xl\:text-p14 {
        font-size: 14px
    }

    .xl\:text-p18 {
        font-size: 18px
    }

    .xl\:text-p20 {
        font-size: 20px
    }

    .xl\:text-p22 {
        font-size: 22px
    }

    .xl\:text-p24 {
        font-size: 24px
    }

    .xl\:text-p26 {
        font-size: 26px
    }

    .xl\:text-p27 {
        font-size: 27px
    }

    .xl\:normal-case {
        text-transform: none
    }

    .xl\:tracking-normal {
        letter-spacing: 0
    }

    .xl\:w-55 {
        width: 55%
    }

    .xl\:w-auto {
        width: auto
    }

    .xl\:w-1\/2 {
        width: 50%
    }

    .xl\:w-1\/3 {
        width: 33.33333%
    }

    .xl\:w-1\/4 {
        width: 25%
    }

    .xl\:w-p32 {
        width: 32px
    }

    .xl\:w-p172 {
        width: 172px
    }

    .xl\:w-p240 {
        width: 240px
    }

    .xl\:w-p270 {
        width: 270px
    }

    .xl\:w-p320 {
        width: 320px
    }

    .xl\:w-p362 {
        width: 362px
    }

    .xl\:w-p390 {
        width: 390px
    }

    .xl\:w-p483 {
        width: 483px
    }

    .xl\:w-p746 {
        width: 746px
    }

    .xl\:w-p800 {
        width: 800px
    }

    .xl\:w-p962 {
        width: 962px
    }
}
