/* Global */
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(0,21,50);
}

h1 {
    font-weight: 200;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: +1.5px;
    word-spacing: +8px;
    line-height: 1.0;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    word-spacing: +2px;
}

h3 {
    font-weight: 400;
    color: white;
    font-size: 23px;
}

h4 {
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #0099FF;
}

a {
    color: white;
}

a:hover {
    color: white;
}

p1 {
    font-size: 18px;
    font-weight: 300;
  }

p {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

@media (max-width:1199px) {
    h2 {
        font-size: 36px;
    }
}

@media (max-width:991px) {
    h2 {
        font-size: 28px;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 48px;
    }
}

@media (max-width:575px) {
    h1 {
        font-size: 36px;
    }
}

@media (max-width:359px) {
    h1 {
        font-size: 28px;
    }
}

/* Hero */
.hero {
    min-height: 800px;
}

.hero-bg {
    position: absolute;
    overflow: visible;
    width: 100vw;
    height: 1200px;
    top:-600px;
    transform: skewY(-11deg);
    background-image: linear-gradient(70deg,rgb(0,21,50),#005075);
    z-index: -1;
}
.balloons {
    position: absolute;
}

.balloon-align {
    display: block;
    margin: 0 auto;
    opacity: 0.04;
    -webkit-animation: fade-in .8s;
    animation: fade-in .8s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.04
    }
}

.banner {
    color: white;
    margin-top: 150px;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.animate-slide-right {
    -webkit-animation: slide-right .8s;
    animation: slide-right .8s
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.animate-slide-down {
    -webkit-animation: slide-down .8s;
    animation: slide-down .8s
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.animate-slide-left {
    -webkit-animation: slide-left .8s;
    animation: slide-left .8s
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@media (max-height:575px) {
    .balloon-align {
        display: none;
    }
}

/* Content */
.content-bg {
    padding-top: 100px;
    padding-bottom: 100px;
    transform: skewY(11deg);
    background-image: linear-gradient(70deg,rgb(0,21,50),#005075);
    z-index: -1;
}

.content-within {
    transform: skewY(-11deg);
}

.content {
    padding-bottom: 100px;
}

.circle-icon {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: rgb(13,28,84);
    font-size: 48px;
    color: white;
    text-align: center;
    line-height: 100px;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 36px;
        line-height: 70px;
    }
}

.btn-primary {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

}

.btn-primary2 {
    border-radius: 0px;
    border-width: 2px;
    border-color: blue;
    color: blue;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

}


.btn-account {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100px;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-mobile {
    padding: 0rem 0rem;
    height: 40px;
    width: 40px;
    font-size: 18px;
    line-height: 35px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2:not([disabled]):not(.disabled).active,
.btn-primary2:not([disabled]):not(.disabled):active,
.show>.btn-primary2.dropdown-toggle {
    border-color: blue;
    background-color: transparent;
    color: blue;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn:focus,
.btn:active,
.btn-primary:active,
.btn-primary:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: #0099FF;
}

.btn-enter {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 5px;
    border: none;
    font-size: 18px;
    color: white;
    z-index: 100;
}

.btn-enter:focus,
.btn-enter:active,
.btn-enter:hover {
    box-shadow: none !important;
    outline: none !important;
    color: #0099FF;
}



.waitlist-entry {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    line-height: 1.5 !important;
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.form-control:focus {
    border-color: #0099FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.waitlist-entry:focus {
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.tick {
    color: #0099FF;
}

/* Footer */
.footer {
    background-color: rgb(13,28,84);
    width: 100vw;
    color: white;
}
