/* Global */
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: rgb(0,21,50);
}

h1 {
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-spacing: 0.08em;
    line-height: 1.0;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    word-spacing: 0.08em;
}

h3 {
    font-weight: 400;
    color: white;
    font-size: 23px;
}

h4 {
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem 0.8rem 0rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #0099FF;
}

a {
    color: white;
}

a:hover {
    color: white;
}

p1 {
    font-size: 18px;
    font-weight: 300;
  }

p {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

@media (min-width:360px) and (max-width:767px) {
    h2 {
        font-size: 18px;
    }
}

@media (max-width:359px) {
    h2 {
        font-size: 14px;
    }
}

@media (min-width:360px) and (max-width:767px) {
    h1 {
        font-size: 28px;
    }
}

@media (max-width:359px) {
    h1 {
        font-size: 24px;
    }
}

/* Hero */
.absolute {
    position: absolute;
    top:600px;
    width: 100%;
    height: auto;
    transform: skewY(11deg);
}
.hero {
    min-height: 800px;
    overflow-x: hidden;
}

.hero-bg {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 1200px;
    top:-600px;
    transform: skewY(-11deg);
    background-image: linear-gradient(70deg,rgb(0,21,50),#1586a8);
    z-index: -1;
}

.balloon-align {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    opacity: 0.02;
    -webkit-animation: fade-in .8s;
    animation: fade-in .8s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.02
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 0.02
    }
}

.banner {
    color: white;
    margin-top: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner {
        margin-top: 100px;
    }
}
@media (max-width: 991px) {
    .banner {
        margin-top: 40px;
    }
}

video {
    width: 650px;
    z-index: 6;
    margin-left: 71px;
    margin-top: 100px;
    position: absolute;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.demo-image {
    z-index: 5;
    width: 1000px;
    margin-left: -100px;
}

.video-gradient {
    background-image: linear-gradient(170deg,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0));
    position: absolute;
    margin-left: 48px;
    margin-top: 38px;
    border-radius: 23px 23px 0px 0px;
    width: 696px;
    height: 457px;
    z-index: 999;
}

.mobile-filler {
    display: block;
}

@media (max-width: 991px) {
    video {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    video {
        width: 393px;
        height: auto;
        margin-left: 130px;
        margin-top: 82px;
        border-radius: 5px 5px 40px 40px;

    }
    .demo-image {
        width: 100%;
        margin-left: 0px;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    video {
        width: 285px;
        height: auto;
        margin-left: 95px;
        margin-top: 60px;
        border-radius: 5px 5px 30px 30px;
    }
    .demo-image {
        width: 100%;
        margin-left: 0px;
    }
}

@media (min-width:360px) and (max-width:575px) {
    video {
        width: 238px;
        margin-top: 50px;
        border-radius: 5px 5px 25px 25px;
        left: 50%;
        margin-left: -119px;
    }
    .demo-image {
        width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -198px;
    }
    .mobile-filler {
        height: 600px;
    }
}

@media (max-width:359px) {
    video {
        display: none;
    }
    .demo-image {
        display: none;
    }
    .mobile-filler {
        display: none;
    }
    .hero-bg {
        height: 1200px;
        top:-800px;
    }
    .hero {
        min-height: 500px;
    }
    .absolute {
        top: 400px
    }
}


.animate-slide-right {
    -webkit-animation: slide-right .8s;
    animation: slide-right .8s
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

.animate-slide-down {
    -webkit-animation: slide-down .8s;
    animation: slide-down .8s
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.animate-slide-left {
    -webkit-animation: slide-left .8s;
    animation: slide-left .8s
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

/* Content */
.content-bg {
    padding-top: 100px;
    padding-bottom: 100px;
    transform: skewY(11deg);
    background-image: linear-gradient(70deg,rgb(0,21,50),#005075);
    z-index: -1;
}

.content-within {
    transform: skewY(-11deg);
}

.content {
    padding-bottom: 100px;
}

.circle-icon {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: rgb(13,28,84);
    font-size: 48px;
    color: white;
    text-align: center;
    line-height: 100px;
}

@media (max-width:991px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 36px;
        line-height: 70px;
    }
}

.btn-primary {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-primary2 {
    border-radius: 0px;
    border-width: 2px;
    border-color: rgb(0,21,50);
    background-color: rgb(0,21,50) !important;
    color: white;
    background-color: transparent;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: 300px;
}


.btn-account {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white;
    background-color: transparent;
    width: 100px;
    font-weight: 700;
    font-size: 12px;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.btn-mobile {
    padding: 0rem 0rem;
    height: 40px;
    width: 40px;
    font-size: 18px;
    line-height: 35px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn-account:hover,
.btn-account:active,
.btn-account:not([disabled]):not(.disabled).active,
.btn-account:not([disabled]):not(.disabled):active,
.show>.btn-account.dropdown-toggle {
    border-color: #0099FF;
    background-color: transparent;
    color: #0099FF;
}

.btn-primary2:hover,
.btn-primary2:active,
.btn-primary2:not([disabled]):not(.disabled).active,
.btn-primary2:not([disabled]):not(.disabled):active,
.show>.btn-primary2.dropdown-toggle {
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-primary:focus,
.btn-account:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: #0099FF;
}

.btn-primary2:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #0099FF;
    color: white;
    background-color: #0099FF !important;
}

.btn-enter {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 5px;
    border: none;
    font-size: 18px;
    color: white;
    z-index: 100;
}

.btn-enter:focus,
.btn-enter:active,
.btn-enter:hover {
    box-shadow: none !important;
    outline: none !important;
    color: #0099FF;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (max-width: 991px) {
    .center-mobile {
        text-align: center;
    }
}

.waitlist-form {
    display:inline-block;
}

.waitlist-entry {
    border-radius: 0px;
    border-width: 2px;
    border-color: white;
    color: white !important;
    background-color: transparent !important;
    box-sizing: border-box !important;
    line-height: 1.5 !important;
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.form-control:focus {
    border-color: #0099FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.waitlist-entry:focus {
    padding: 0.8rem 2.4rem 0.8rem 0.8rem !important;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.tick {
    color: #0099FF;
}

/* Footer */
.footer {
    background-color: rgb(13,28,84);
    width: 100vw;
    color: white;
}

/* Modal */
.modal-dialog {
    border-style: none;
    transform: translateX(-50%) translateY(-50%) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 600px;

}

@media (max-width: 359px) {
    .modal-dialog {
        transform: translateX(-50%) !important;
        width: 280px;
        top: 100px;
    }
}

@media (min-width: 360px) and (max-width:767px) {
    .modal-dialog {
        transform: translateX(-50%) !important;
        width: 312px;
        top: 150px;
    }
}

.modal-form-input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.modal-form-input:active {
    border-color: #0099FF;
}
.form-group {
    margin-bottom: 2rem;
}
.modal-content {
    border-style: none;
}

body.modal-open {
    overflow: hidden;
}

.iti__flag {background-image: url("../images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../images/flags@2x.png");}
}

.iti {
    width: 100%;
}

.iti__selected-flag:focus {
    box-shadow: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0.05)
}
