.body {
}

.hello {
  height: 100vh;
}

.blue3 {
  color: #4A60C8;
}

.left {
  background-color: #4A60C8;
  height: 100%;
  width:100%;
}

.text {
  height: 40px;
  background-color:transparent;
  border-radius:7px;
  border-style:solid;
  border-width:1px;
  margin-top:10px;
}



.one {
  height: 100%;
}



.picture {
  border-radius: 20px;
}

.blue2 {
  background-color: transparent;
  font-size: 18px;
  border-radius: 15px;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:20px;
  padding-left:20px;
  border-color: #4A60C8;
  border-width:2px;
  margin-bottom: 10px;
}
